#ios相关
build
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata
.DS_Store
.swp
~.nib
.pbxuser
.perspective
*.perspectivev3
*.mode1v3
*.xcworkspacedata
*.xcuserstate
*xcuserdata*
*.xccheckout
IPConfig.txt


＃ubuntu相关
*.o
*.log
*.d
*.pid
*.lock
*.cproject
*.project
*.settings

protobuf-2.5.0/
pay_proxy_res/bin/
thirdparty/pay/iapppay_V3.2.73/pay_proxy_res/bin/

.svn
thirdparty/pay/iapppay_V3.2.72_b003/pay_proxy_res/bin/res/
*.classpath
*.cache

#android相关
FirstGame/Client/cocos2d-x-2.2/projects/FirstGame/proj.android/libs/
FirstGame/Client/cocos2d-x-2.2/projects/FirstGame/proj.android/res/
FirstGame/Client/cocos2d-x-2.2/projects/FirstGame/proj.android/assets/
FirstGame/Client/cocos2d-x-2.2/projects/FirstGame/proj.android/src/com/funshion/sdk/
FirstGame/Client/cocos2d-x-2.2/projects/FirstGame/proj.android/APK/
FirstGame/Client/cocos2d-x-2.2/projects/FirstGame/proj.android/AndroidManifest.xml
FirstGame/Client/cocos2d-x-2.2/projects/FirstGame/proj.android/project.properties

*.classpath