<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fe_bipinneil_VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{73,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,84}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>fe_bipinneili_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,28},{42,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>fe_bipinneili_hongsexietiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{126,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{126,16}}</string>
                <key>sourceSize</key>
                <string>{132,22}</string>
            </dict>
            <key>fe_bipinneili_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,28},{41,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>fe_bipinneili_lanneilitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,110},{131,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{131,14}}</string>
                <key>sourceSize</key>
                <string>{137,22}</string>
            </dict>
            <key>fe_bipinneili_sheiseditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{262,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{262,24}}</string>
                <key>sourceSize</key>
                <string>{276,34}</string>
            </dict>
            <key>fe_bipinneili_xiaoguangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fe_bipinneili_ccb.pvr.ccz</string>
            <key>size</key>
            <string>{481,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d894f3654a8935229c7cf29cf2038a46$</string>
            <key>textureFileName</key>
            <string>fe_bipinneili_ccb.pvr.ccz</string>
        </dict>
    </dict>
</plist>
