<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ue_zhaomu_pingmian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,871},{147,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{147,153}}</string>
                <key>sourceSize</key>
                <string>{149,185}</string>
            </dict>
            <key>ue_zhaomu_shuibo_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{434,463}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,60},{434,463}}</string>
                <key>sourceSize</key>
                <string>{726,553}</string>
            </dict>
            <key>ue_zhaomu_shuibo_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{716,553}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{716,553}}</string>
                <key>sourceSize</key>
                <string>{726,553}</string>
            </dict>
            <key>ue_zhaomu_shuibo_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{299,254}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{299,254}}</string>
                <key>sourceSize</key>
                <string>{363,276}</string>
            </dict>
            <key>ue_zhaomu_shuibo_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,258},{275,266}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{275,266}}</string>
                <key>sourceSize</key>
                <string>{363,276}</string>
            </dict>
            <key>ue_zhaomu_shuibo_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,557},{251,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{251,260}}</string>
                <key>sourceSize</key>
                <string>{363,276}</string>
            </dict>
            <key>ue_zhaomu_shuibo_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,652},{251,228}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{251,228}}</string>
                <key>sourceSize</key>
                <string>{363,276}</string>
            </dict>
            <key>ue_zhaomu_shuibo_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,526},{271,124}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,63},{271,124}}</string>
                <key>sourceSize</key>
                <string>{363,276}</string>
            </dict>
            <key>ue_zhaomu_yuanquan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,819},{158,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,50}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>ue_zhaomu_zhedi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,983},{368,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,99}}</string>
                <key>sourceSize</key>
                <string>{368,99}</string>
            </dict>
            <key>ue_zhaomu_zhedi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,882},{368,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,99}}</string>
                <key>sourceSize</key>
                <string>{368,99}</string>
            </dict>
            <key>ue_zhaomu_zhedi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{368,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,99}}</string>
                <key>sourceSize</key>
                <string>{368,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recruitNew.png</string>
            <key>size</key>
            <string>{1021,1123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e261f8d033ae06019c0b1d7ca51d410$</string>
            <key>textureFileName</key>
            <string>recruitNew.png</string>
        </dict>
    </dict>
</plist>
