<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ue_huiheqiehuan_beijingi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{537,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,108}}</string>
                <key>sourceSize</key>
                <string>{537,108}</string>
            </dict>
            <key>ue_huiheqiehuan_dierhuihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{193,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,15},{193,78}}</string>
                <key>sourceSize</key>
                <string>{537,108}</string>
            </dict>
            <key>ue_huiheqiehuan_disanhuihe_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{193,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,15},{193,78}}</string>
                <key>sourceSize</key>
                <string>{537,108}</string>
            </dict>
            <key>ue_huiheqiehuan_diyihuihe_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,15},{193,78}}</string>
                <key>sourceSize</key>
                <string>{537,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ue_huiheqiehuan.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5d13834c8e5016f68314f9871463540$</string>
            <key>textureFileName</key>
            <string>ue_huiheqiehuan.png</string>
        </dict>
    </dict>
</plist>
