<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ue_jiantou_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,176},{135,137}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{135,137}}</string>
                <key>sourceSize</key>
                <string>{157,185}</string>
            </dict>
            <key>ue_mohuananniu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,38},{151,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{151,136}}</string>
                <key>sourceSize</key>
                <string>{175,184}</string>
            </dict>
            <key>ue_shouzhi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{237,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,347}}</string>
                <key>sourceSize</key>
                <string>{237,347}</string>
            </dict>
            <key>ue_shutiao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{376,68}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{376,68}}</string>
                <key>sourceSize</key>
                <string>{390,80}</string>
            </dict>
            <key>ue_wenzi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,34}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,34}}</string>
                <key>sourceSize</key>
                <string>{481,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ue_huadong.png</string>
            <key>size</key>
            <string>{481,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74882d9dfda59c7c296b11c6fca40600$</string>
            <key>textureFileName</key>
            <string>ue_huadong.png</string>
        </dict>
    </dict>
</plist>
