<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_QQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,102},{272,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,98}}</string>
                <key>sourceSize</key>
                <string>{272,98}</string>
            </dict>
            <key>Icon_WX.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{272,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,98}}</string>
                <key>sourceSize</key>
                <string>{272,98}</string>
            </dict>
            <key>btn_denglu_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{270,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,74}}</string>
                <key>sourceSize</key>
                <string>{270,74}</string>
            </dict>
            <key>btn_denglu_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{270,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,74}}</string>
                <key>sourceSize</key>
                <string>{270,74}</string>
            </dict>
            <key>btn_denglu_green_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{270,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,74}}</string>
                <key>sourceSize</key>
                <string>{270,74}</string>
            </dict>
            <key>btn_denglu_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{270,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,74}}</string>
                <key>sourceSize</key>
                <string>{270,74}</string>
            </dict>
            <key>btn_denglu_red_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,164},{270,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,74}}</string>
                <key>sourceSize</key>
                <string>{270,74}</string>
            </dict>
            <key>btn_zhankai.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,52},{22,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{22,14}</string>
            </dict>
            <key>open_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{640,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,28}}</string>
                <key>sourceSize</key>
                <string>{640,28}</string>
            </dict>
            <key>open_huobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>open_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>open_weihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,52},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>xuanqu_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
            <key>xuanqu_input_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StartScene.png</string>
            <key>size</key>
            <string>{1018,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc10964c593971dca383aaaaf53dae3e$</string>
            <key>textureFileName</key>
            <string>StartScene.png</string>
        </dict>
    </dict>
</plist>
