<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_fight_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{166,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,176}}</string>
                <key>sourceSize</key>
                <string>{166,176}</string>
            </dict>
            <key>breakthrough_gongxihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,594}}</string>
                <key>sourceSize</key>
                <string>{640,594}</string>
            </dict>
            <key>fight_achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>fight_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{192,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,56}}</string>
                <key>sourceSize</key>
                <string>{192,56}</string>
            </dict>
            <key>fight_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,484},{192,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,56}}</string>
                <key>sourceSize</key>
                <string>{192,56}</string>
            </dict>
            <key>fight_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,426},{192,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,56}}</string>
                <key>sourceSize</key>
                <string>{192,56}</string>
            </dict>
            <key>fight_card_l_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_attack_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,810},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_attack_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,214},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,598},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_blood_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,810},{182,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{182,196}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_blood_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,598},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_defence_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,624},{182,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{182,196}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_defence_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,598},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_power_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,426},{182,196}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{182,196}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
            <key>fight_card_l_power_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,598},{200,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,210}}</string>
                <key>sourceSize</key>
                <string>{200,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBloodFight.png</string>
            <key>size</key>
            <string>{1024,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2e7b2c96b43afa9d919628c7d692c5d$</string>
            <key>textureFileName</key>
            <string>UIBloodFight.png</string>
        </dict>
    </dict>
</plist>
