<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_1R.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,582},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>btn_2R.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,194},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>btn_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{248,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,80}}</string>
                <key>sourceSize</key>
                <string>{248,80}</string>
            </dict>
            <key>btn_big_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{248,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,80}}</string>
                <key>sourceSize</key>
                <string>{248,80}</string>
            </dict>
            <key>btn_bright.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>btn_bright_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>btn_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,84},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>btn_dark_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{190,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,80}}</string>
                <key>sourceSize</key>
                <string>{190,80}</string>
            </dict>
            <key>btn_entrance_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,676},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_bag_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,676},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_baoshironglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,230},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>btn_entrance_baoshironglu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,230},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>btn_entrance_breakthrough.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,638},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_breakthrough_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,638},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_buzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,600},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_buzhen_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,600},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_canwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,600},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_canwu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,600},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_changeCards.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_changeCards_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_changerival.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_changerival_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_chapterlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,230},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_chapterlist_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,230},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,600},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_charge_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,600},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_cultivate.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,574},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_cultivate_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,574},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_duihuanxiandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_duihuanxiandan_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,472},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,472},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_heroes_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,230},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_heroeslist.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,230},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_invitefriends.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_invitefriends_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,332},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_liuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,536},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_liuyan_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,536},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_pets.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,434},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,332},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_qianghua_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,332},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,230},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_sale_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,230},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_shangzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_shangzhen_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_shop_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_transmit.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_transmit_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_xiangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_xiangqian_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,498},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_yingxiongtujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,230},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_yingxiongtujian_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,230},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,480},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_entrance_zhuangbei_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,480},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_friend_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,702},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>btn_friend_no_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,702},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>btn_friend_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,402},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>btn_friend_yes_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,332},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,434},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>btn_green_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,166},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>btn_home_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,378},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_home_friends_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,378},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_home_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,276},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_home_message_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,276},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_home_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,522},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_home_set_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,522},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>btn_list_below.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{226,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,80}}</string>
                <key>sourceSize</key>
                <string>{226,80}</string>
            </dict>
            <key>btn_list_below_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,84},{226,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,80}}</string>
                <key>sourceSize</key>
                <string>{226,80}</string>
            </dict>
            <key>btn_pets_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,702},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_pets_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,702},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,166},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>btn_red_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,624},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>btn_red_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,166},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>btn_reply.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,434},{84,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>btn_reply_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,434},{84,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>btn_tishengnengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,686},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>btn_tishengnengli_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,686},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>btn_toolbar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{298,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,94}}</string>
                <key>sourceSize</key>
                <string>{298,94}</string>
            </dict>
            <key>btn_toolbar_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,94}}</string>
                <key>sourceSize</key>
                <string>{298,94}</string>
            </dict>
            <key>btn_zhenrong_huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>btn_zhenrong_huan_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>ic_activity_czrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,686},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>ic_activity_czrenwu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,686},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>ic_activity_mrrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>ic_activity_mrrenwu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBtn.png</string>
            <key>size</key>
            <string>{788,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e90a47a26452a541706a22b00670e786:1/1$</string>
            <key>textureFileName</key>
            <string>UIBtn.png</string>
        </dict>
    </dict>
</plist>
