<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,870},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,752},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,726},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,634},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,620},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,608},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,502},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,490},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,384},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,266},{100,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,116}}</string>
                <key>sourceSize</key>
                <string>{100,116}</string>
            </dict>
            <key>activity_bg_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,870},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>activity_bg_lukydraw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{574,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,574}}</string>
                <key>sourceSize</key>
                <string>{574,574}</string>
            </dict>
            <key>activity_border_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,138},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>activity_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>activity_btn_start_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,246},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>activity_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,364}}</string>
                <key>sourceSize</key>
                <string>{640,364}</string>
            </dict>
            <key>activity_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,490},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>activity_card_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>activity_translucent.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,944},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,28}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>card_bagua.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,600},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>card_caishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,502},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ic_activity_daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ic_activity_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,984},{26,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>ic_activity_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,974},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ic_activity_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ic_activity_suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,974},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{26,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ic_activity_yuanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,974},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIBusinessActivity.png</string>
            <key>size</key>
            <string>{1024,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dea85de1c5036943d67a29dd8ace51e$</string>
            <key>textureFileName</key>
            <string>UIBusinessActivity.png</string>
        </dict>
    </dict>
</plist>
