<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_information_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,208},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>card_add_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,62},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>card_border_lineup.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,152},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>card_border_lineup_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,112},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>card_default_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,152},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>card_default_jewelry.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,78},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>card_default_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,76},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>card_default_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>card_icon_suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,6},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>card_lock_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>card_rarity_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,6},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{136,134}</string>
            </dict>
            <key>card_rarity_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,6},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{136,134}</string>
            </dict>
            <key>card_rarity_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{136,134}</string>
            </dict>
            <key>card_yishangzhen_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,142},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>card_yishangzhen_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,142},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>carddetail_bg_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,198},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>carddetail_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,150},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>cultivate_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,6},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>cultivate_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{148,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,90}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>lineup_drag.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,208},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>lineup_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,2}}</string>
                <key>sourceSize</key>
                <string>{600,2}</string>
            </dict>
            <key>progress_list_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{92,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,16}}</string>
                <key>sourceSize</key>
                <string>{92,16}</string>
            </dict>
            <key>progress_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,208},{88,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,12}}</string>
                <key>sourceSize</key>
                <string>{88,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICard.png</string>
            <key>size</key>
            <string>{747,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:131e13bf8957c575232857079555006f:1/1$</string>
            <key>textureFileName</key>
            <string>UICard.png</string>
        </dict>
    </dict>
</plist>
