<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>breakthrough_addcard_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,406},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>breakthrough_addcard_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,300},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>breakthrough_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,300},{258,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,120}}</string>
                <key>sourceSize</key>
                <string>{258,120}</string>
            </dict>
            <key>breakthrough_bg_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,296}}</string>
                <key>sourceSize</key>
                <string>{640,296}</string>
            </dict>
            <key>breakthrough_bg_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{260,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,124}}</string>
                <key>sourceSize</key>
                <string>{260,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICardBreakThrough.png</string>
            <key>size</key>
            <string>{644,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f0c092188b036acec005debe1c51154$</string>
            <key>textureFileName</key>
            <string>UICardBreakThrough.png</string>
        </dict>
    </dict>
</plist>
