<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_box_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,348},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bg_box_trance.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,120}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>bg_btn_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>bg_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,176},{132,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,44}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>bg_message_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,398},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>bg_pets.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,462},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bg_quick_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,206},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>bg_text_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,254},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>bg_text_darkgreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,320},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>checkbox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,222},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>checkbox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,130},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>checkbox_multiselect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,332},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>checkbox_multiselect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,266},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>dialog_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,410},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>dialog_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2},{226,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,172}}</string>
                <key>sourceSize</key>
                <string>{226,172}</string>
            </dict>
            <key>dialog_box_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,216},{24,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,70}}</string>
                <key>sourceSize</key>
                <string>{24,70}</string>
            </dict>
            <key>dialog_box_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,238},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>dialog_box_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,316},{282,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,90}}</string>
                <key>sourceSize</key>
                <string>{282,90}</string>
            </dict>
            <key>dialog_box_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,126},{604,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,2}}</string>
                <key>sourceSize</key>
                <string>{604,2}</string>
            </dict>
            <key>dialog_box_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,134},{574,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,70}}</string>
                <key>sourceSize</key>
                <string>{574,70}</string>
            </dict>
            <key>dialog_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,176},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>item_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,402},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>item_box_entrance.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,206},{492,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,112}}</string>
                <key>sourceSize</key>
                <string>{492,112}</string>
            </dict>
            <key>item_box_entrance_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{492,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,112}}</string>
                <key>sourceSize</key>
                <string>{492,112}</string>
            </dict>
            <key>item_box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{562,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,130}}</string>
                <key>sourceSize</key>
                <string>{562,130}</string>
            </dict>
            <key>item_box_green_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{562,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,130}}</string>
                <key>sourceSize</key>
                <string>{562,130}</string>
            </dict>
            <key>item_box_guanqia.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,320},{108,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,170}}</string>
                <key>sourceSize</key>
                <string>{108,170}</string>
            </dict>
            <key>item_box_guanqia_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,294},{108,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,154}}</string>
                <key>sourceSize</key>
                <string>{108,154}</string>
            </dict>
            <key>item_box_guanqia_green_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,222},{108,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,154}}</string>
                <key>sourceSize</key>
                <string>{108,154}</string>
            </dict>
            <key>item_box_guanqia_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,320},{108,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,170}}</string>
                <key>sourceSize</key>
                <string>{108,170}</string>
            </dict>
            <key>item_box_original.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,408},{88,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,58}}</string>
                <key>sourceSize</key>
                <string>{88,58}</string>
            </dict>
            <key>item_box_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,402},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>item_mission_finishmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,408},{120,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,56}}</string>
                <key>sourceSize</key>
                <string>{120,56}</string>
            </dict>
            <key>item_price_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,500},{134,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,12}}</string>
                <key>sourceSize</key>
                <string>{134,12}</string>
            </dict>
            <key>item_treasure_limitmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{136,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,50}}</string>
                <key>sourceSize</key>
                <string>{136,50}</string>
            </dict>
            <key>levelup_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,458},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>list_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,422},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>list_arrow_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,320},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>list_bg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,316},{312,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,84}}</string>
                <key>sourceSize</key>
                <string>{312,84}</string>
            </dict>
            <key>list_bg_original.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,462},{106,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>list_bg_topbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,130},{509,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,60}}</string>
                <key>sourceSize</key>
                <string>{509,60}</string>
            </dict>
            <key>list_bg_topbar_five.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,64},{610,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,60}}</string>
                <key>sourceSize</key>
                <string>{610,60}</string>
            </dict>
            <key>list_bg_topbar_six.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{610,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,60}}</string>
                <key>sourceSize</key>
                <string>{610,60}</string>
            </dict>
            <key>list_bg_topbar_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,192},{508,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,60}}</string>
                <key>sourceSize</key>
                <string>{508,60}</string>
            </dict>
            <key>list_bg_topbar_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,254},{410,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,60}}</string>
                <key>sourceSize</key>
                <string>{410,60}</string>
            </dict>
            <key>list_friend_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,318},{42,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,10}}</string>
                <key>sourceSize</key>
                <string>{42,10}</string>
            </dict>
            <key>list_topbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,408},{127,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,60}}</string>
                <key>sourceSize</key>
                <string>{127,60}</string>
            </dict>
            <key>list_topbar_five.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,450},{112,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,44}}</string>
                <key>sourceSize</key>
                <string>{112,44}</string>
            </dict>
            <key>list_topbar_five_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,468},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,44}}</string>
                <key>sourceSize</key>
                <string>{116,44}</string>
            </dict>
            <key>list_topbar_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,466},{118,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{118,44}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>list_topbar_six.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,458},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>list_topbar_six_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,378},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>list_topbar_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,468},{158,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,44}}</string>
                <key>sourceSize</key>
                <string>{158,44}</string>
            </dict>
            <key>list_topbar_three_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,422},{163,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,44}}</string>
                <key>sourceSize</key>
                <string>{163,44}</string>
            </dict>
            <key>list_topbar_two_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,462},{195,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,44}}</string>
                <key>sourceSize</key>
                <string>{195,44}</string>
            </dict>
            <key>reddot.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,468},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>toolbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,320},{40,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,88}}</string>
                <key>sourceSize</key>
                <string>{40,88}</string>
            </dict>
            <key>trancelucent_below.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,216},{48,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{48,100}</string>
            </dict>
            <key>trancelucent_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,424},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICommon_Dialog_Other.png</string>
            <key>size</key>
            <string>{2048,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8cf0b2235af280ac1997d58bb5fb17a:1/1$</string>
            <key>textureFileName</key>
            <string>UICommon_Dialog_Other.png</string>
        </dict>
    </dict>
</plist>
