<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_border_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>card_border_m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,594},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>card_border_m_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,298},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>card_border_m_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>card_border_m_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>card_border_m_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>card_border_m_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>card_border_m_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{294,294}</string>
            </dict>
            <key>card_zhezhao_suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,298},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>carddetail_activat_already.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,890},{118,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,66}}</string>
                <key>sourceSize</key>
                <string>{118,66}</string>
            </dict>
            <key>carddetail_activat_can.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,890},{118,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,66}}</string>
                <key>sourceSize</key>
                <string>{118,66}</string>
            </dict>
            <key>carddetail_activat_not.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,890},{118,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,66}}</string>
                <key>sourceSize</key>
                <string>{118,66}</string>
            </dict>
            <key>skill_add_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,298},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICommonBig.png</string>
            <key>size</key>
            <string>{996,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ab0cac6d76f68abdfbf1ab3dd8c6689$</string>
            <key>textureFileName</key>
            <string>UICommonBig.png</string>
        </dict>
    </dict>
</plist>
