<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>consume_bg_cutdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>consume_bg_desc.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,94},{132,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,44}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>consume_item_bg_myself.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{598,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,90}}</string>
                <key>sourceSize</key>
                <string>{598,90}</string>
            </dict>
            <key>consume_item_bg_odd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{598,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,90}}</string>
                <key>sourceSize</key>
                <string>{598,90}</string>
            </dict>
            <key>consume_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>consume_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,194},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>consume_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,194},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>consume_rank_bg_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>consume_rank_item_separatebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,94},{2,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,90}}</string>
                <key>sourceSize</key>
                <string>{2,90}</string>
            </dict>
            <key>consume_rank_topbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,194},{640,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,52}}</string>
                <key>sourceSize</key>
                <string>{640,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIConsumeRank.png</string>
            <key>size</key>
            <string>{900,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8bfbcf66c624fe43dec55cc89efe6f$</string>
            <key>textureFileName</key>
            <string>UIConsumeRank.png</string>
        </dict>
    </dict>
</plist>
