<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>open_bg_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,282}}</string>
                <key>sourceSize</key>
                <string>{640,282}</string>
            </dict>
            <key>open_dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{640,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,250}}</string>
                <key>sourceSize</key>
                <string>{640,250}</string>
            </dict>
            <key>open_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,64},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>open_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,94},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>open_input_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{252,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,90}}</string>
                <key>sourceSize</key>
                <string>{252,90}</string>
            </dict>
            <key>open_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,176},{166,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,44}}</string>
                <key>sourceSize</key>
                <string>{166,44}</string>
            </dict>
            <key>signup_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{4,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,1}}</string>
                <key>sourceSize</key>
                <string>{4,1}</string>
            </dict>
            <key>word_xiaoyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICreatePlayer.png</string>
            <key>size</key>
            <string>{996,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d522708c3f6a89e1ae53136cc5c9fff$</string>
            <key>textureFileName</key>
            <string>UICreatePlayer.png</string>
        </dict>
    </dict>
</plist>
