<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>begin_1_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,529},{72,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,192}}</string>
                <key>sourceSize</key>
                <string>{72,192}</string>
            </dict>
            <key>begin_2_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,529},{72,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,192}}</string>
                <key>sourceSize</key>
                <string>{72,192}</string>
            </dict>
            <key>begin_3_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,529},{72,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,192}}</string>
                <key>sourceSize</key>
                <string>{72,192}</string>
            </dict>
            <key>begin_4_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{72,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,192}}</string>
                <key>sourceSize</key>
                <string>{72,192}</string>
            </dict>
            <key>begin_bg_introduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,529},{620,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,150}}</string>
                <key>sourceSize</key>
                <string>{620,150}</string>
            </dict>
            <key>begin_desc_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,529},{338,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,74}}</string>
                <key>sourceSize</key>
                <string>{338,74}</string>
            </dict>
            <key>begin_desc_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,681},{336,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,74}}</string>
                <key>sourceSize</key>
                <string>{338,74}</string>
            </dict>
            <key>begin_desc_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,605},{336,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,74}}</string>
                <key>sourceSize</key>
                <string>{338,74}</string>
            </dict>
            <key>begin_desc_name4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,681},{338,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,100}}</string>
                <key>sourceSize</key>
                <string>{338,100}</string>
            </dict>
            <key>begin_name_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,529},{159,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,141}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>begin_name_card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,529},{153,139}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,139}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>begin_name_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,681},{136,104}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{136,104}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>begin_name_card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,670},{136,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,126}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>begin_title_choosecard.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,681},{323,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,81}}</string>
                <key>sourceSize</key>
                <string>{323,81}</string>
            </dict>
            <key>card_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>xiaoyue_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{539,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,525}}</string>
                <key>sourceSize</key>
                <string>{539,525}</string>
            </dict>
            <key>xiaoyue_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{539,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,525}}</string>
                <key>sourceSize</key>
                <string>{539,525}</string>
            </dict>
            <key>xiaoyue_smile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{539,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,525}}</string>
                <key>sourceSize</key>
                <string>{539,525}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICreatePlayer2.png</string>
            <key>size</key>
            <string>{1625,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:609349bf4f06c729f68931fcadc12515:1/1$</string>
            <key>textureFileName</key>
            <string>UICreatePlayer2.png</string>
        </dict>
    </dict>
</plist>
