<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dujie_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>bg_dujie_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btn_dujie_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>btn_dujie_reset_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>ic_dujie_baigudong.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,290},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_baigudong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,290},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_binggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,866},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_binggong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_buzhoushan.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,578},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_buzhoushan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,722},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_changyangshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,290},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_changyangshan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,434},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_huoyanshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,146},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_huoyanshan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,146},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_jinshansi.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,146},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_jinshansi_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,146},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_jiuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_jiuli_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,146},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_kunlun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_kunlun_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_lanruosi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_lanruosi_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_longgong.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_longgong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_mijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_mijing_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_zhuluzhiye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>ic_dujie_zhuluzhiye_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{154,142}</string>
            </dict>
            <key>num_dujie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,94},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,134},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,128},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,100},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,94},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,66},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,134},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,32},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>num_dujie_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIDujie.png</string>
            <key>size</key>
            <string>{1010,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab43b2a2d018558709ce4693326117fa$</string>
            <key>textureFileName</key>
            <string>UIDujie.png</string>
        </dict>
    </dict>
</plist>
