<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dujie_jingjiedian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{309,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{309,74}}</string>
                <key>sourceSize</key>
                <string>{319,76}</string>
            </dict>
            <key>btn_entrance_dujie.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,78},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>btn_entrance_dujie_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,78},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>ic_blackmap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,572},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,192},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,192},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,762},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,572},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,382},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,382},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,762},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,572},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,382},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_blackmap_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,192},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,762},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,572},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,382},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,192},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>ic_map_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIDujieChapter.png</string>
            <key>size</key>
            <string>{1009,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce20adc1faa819a74df0cedf4953dbd5$</string>
            <key>textureFileName</key>
            <string>UIDujieChapter.png</string>
        </dict>
    </dict>
</plist>
