<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_tongguan_fuceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,553}}</string>
                <key>sourceSize</key>
                <string>{640,553}</string>
            </dict>
            <key>story_guanqia_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>story_guanqia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{130,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,162}}</string>
                <key>sourceSize</key>
                <string>{130,162}</string>
            </dict>
            <key>story_guanqia_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,60},{126,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,115}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>story_guanqia_border_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,166},{126,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,115}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>story_guanqia_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIDynamicRunescape.png</string>
            <key>size</key>
            <string>{952,557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0fe0cf45375b4c349591e235c22fdd9$</string>
            <key>textureFileName</key>
            <string>UIDynamicRunescape.png</string>
        </dict>
    </dict>
</plist>
