<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down_.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,137},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,298},{28,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,74}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{14,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,74}}</string>
                <key>sourceSize</key>
                <string>{14,76}</string>
            </dict>
            <key>down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,268},{28,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,74}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{28,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,74}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,226},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,208},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,179},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>down_zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{144,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,88}}</string>
                <key>sourceSize</key>
                <string>{144,88}</string>
            </dict>
            <key>up_.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,93},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{42,66}</string>
            </dict>
            <key>up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{28,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,74}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,78},{12,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,74}}</string>
                <key>sourceSize</key>
                <string>{12,76}</string>
            </dict>
            <key>up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,257},{28,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,74}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,238},{28,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,74}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,178},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,148},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,148},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{28,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,76}}</string>
                <key>sourceSize</key>
                <string>{28,76}</string>
            </dict>
            <key>up_zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,89}}</string>
                <key>sourceSize</key>
                <string>{146,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIFightPowerEffect.png</string>
            <key>size</key>
            <string>{256,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74053d99e0c21f260545cafbdf81d5e3$</string>
            <key>textureFileName</key>
            <string>UIFightPowerEffect.png</string>
        </dict>
    </dict>
</plist>
