<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_acquire.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,805},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>fight_bg_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>fight_bg_lose_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,465}}</string>
                <key>sourceSize</key>
                <string>{640,465}</string>
            </dict>
            <key>fight_bg_win_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{640,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,52}}</string>
                <key>sourceSize</key>
                <string>{640,52}</string>
            </dict>
            <key>fight_btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,746},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>fight_btn_replay_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,725},{138,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,78}</string>
            </dict>
            <key>fight_canbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,625},{234,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,98}}</string>
                <key>sourceSize</key>
                <string>{234,98}</string>
            </dict>
            <key>fight_dasheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,390},{328,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,192}}</string>
                <key>sourceSize</key>
                <string>{328,192}</string>
            </dict>
            <key>fight_evaluation_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fight_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,878},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{234,64}</string>
            </dict>
            <key>fight_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,826},{190,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,50}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>fight_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,196},{328,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,192}}</string>
                <key>sourceSize</key>
                <string>{328,192}</string>
            </dict>
            <key>fight_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,646},{234,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,98}}</string>
                <key>sourceSize</key>
                <string>{234,98}</string>
            </dict>
            <key>fight_title_huode.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,616},{314,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,28}}</string>
                <key>sourceSize</key>
                <string>{314,28}</string>
            </dict>
            <key>fight_title_jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,584},{324,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,30}}</string>
                <key>sourceSize</key>
                <string>{324,30}</string>
            </dict>
            <key>fight_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{616,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,100}}</string>
                <key>sourceSize</key>
                <string>{616,100}</string>
            </dict>
            <key>fight_win_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{222,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,108}}</string>
                <key>sourceSize</key>
                <string>{222,108}</string>
            </dict>
            <key>fight_xiansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{328,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,192}}</string>
                <key>sourceSize</key>
                <string>{328,192}</string>
            </dict>
            <key>fight_xibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,878},{234,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,94}}</string>
                <key>sourceSize</key>
                <string>{234,94}</string>
            </dict>
            <key>patten.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{94,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,14}}</string>
                <key>sourceSize</key>
                <string>{94,14}</string>
            </dict>
            <key>sanbeijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{149,97}}</string>
                <key>offset</key>
                <string>{151,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,34},{149,97}}</string>
                <key>sourceSize</key>
                <string>{541,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIFightResult.png</string>
            <key>size</key>
            <string>{1022,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91727d0868231365eadbaf280c7c2a40$</string>
            <key>textureFileName</key>
            <string>UIFightResult.png</string>
        </dict>
    </dict>
</plist>
