<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Land_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,124},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>Land_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>Land_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>Land_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>Land_virgin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{38,30}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>back_select_seed.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,318},{96,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>border_harvestable.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,368},{132,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,70}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>border_rest_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,246},{132,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,70}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>btn_entrance_zhongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,394},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,394},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,320},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,320},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,246},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGarden.png</string>
            <key>size</key>
            <string>{470,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ea1d4942179618d994b3bf1d8df53e5:1/1$</string>
            <key>textureFileName</key>
            <string>UIGarden.png</string>
        </dict>
    </dict>
</plist>
