<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_box_guanqia_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,174},{638,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,170}}</string>
                <key>sourceSize</key>
                <string>{638,170}</string>
            </dict>
            <key>item_box_guanqia_boss_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,174},{638,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,170}}</string>
                <key>sourceSize</key>
                <string>{638,170}</string>
            </dict>
            <key>item_box_guanqia_jingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{638,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,170}}</string>
                <key>sourceSize</key>
                <string>{638,170}</string>
            </dict>
            <key>item_box_guanqia_jingying_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{638,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,170}}</string>
                <key>sourceSize</key>
                <string>{638,170}</string>
            </dict>
            <key>item_box_guanqia_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,170}}</string>
                <key>sourceSize</key>
                <string>{638,170}</string>
            </dict>
            <key>item_box_guanqia_normal_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{638,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,170}}</string>
                <key>sourceSize</key>
                <string>{638,170}</string>
            </dict>
            <key>item_box_guanqia_xiala.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{108,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,158}}</string>
                <key>sourceSize</key>
                <string>{108,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGuanqia.png</string>
            <key>size</key>
            <string>{1922,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af581a075cf2a508952a0e3e8d0e68d1$</string>
            <key>textureFileName</key>
            <string>UIGuanqia.png</string>
        </dict>
    </dict>
</plist>
