<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dajingjie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,214},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,214},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,108},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,108},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,108},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,146},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>dajingjie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{54,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,104}}</string>
                <key>sourceSize</key>
                <string>{54,104}</string>
            </dict>
            <key>jingjie_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,142}}</string>
                <key>sourceSize</key>
                <string>{56,142}</string>
            </dict>
            <key>xiaojingjie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,260},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,222},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,184},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,146},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,108},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,252},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,252},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,214},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>xiaojingjie_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,108},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIJingJie.png</string>
            <key>size</key>
            <string>{326,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6df8c4bf0dbe5f0475fc97e64db43bbb:1/1$</string>
            <key>textureFileName</key>
            <string>UIJingJie.png</string>
        </dict>
    </dict>
</plist>
