<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1008},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>maket_gift_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,220},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>maket_gift_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,122},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>maket_vipcard_onsale.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{130,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,42}}</string>
                <key>sourceSize</key>
                <string>{130,42}</string>
            </dict>
            <key>market_card_activity_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{474,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,118}}</string>
                <key>sourceSize</key>
                <string>{474,118}</string>
            </dict>
            <key>market_card_activity_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,46},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>market_card_activity_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,964},{130,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,50}}</string>
                <key>sourceSize</key>
                <string>{130,50}</string>
            </dict>
            <key>market_disha_token.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,158},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
            <key>market_dropdownlist_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1016},{50,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,1}}</string>
                <key>sourceSize</key>
                <string>{50,1}</string>
            </dict>
            <key>market_needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1008},{94,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,14}}</string>
                <key>sourceSize</key>
                <string>{94,14}</string>
            </dict>
            <key>market_normal_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,168},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>market_prize_child.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,438},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>market_prize_xindan.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,340},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>market_prize_young.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,242},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>market_recruit_a_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,564},{176,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,374}}</string>
                <key>sourceSize</key>
                <string>{176,374}</string>
            </dict>
            <key>market_recruit_b_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,588},{176,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,374}}</string>
                <key>sourceSize</key>
                <string>{176,374}</string>
            </dict>
            <key>market_recruit_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{216,584}}</string>
                <key>sourceSize</key>
                <string>{220,584}</string>
            </dict>
            <key>market_recruit_c_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{176,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,374}}</string>
                <key>sourceSize</key>
                <string>{176,374}</string>
            </dict>
            <key>market_recruit_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,122},{24,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,200}}</string>
                <key>sourceSize</key>
                <string>{24,200}</string>
            </dict>
            <key>market_recruit_yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,144},{24,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,200}}</string>
                <key>sourceSize</key>
                <string>{24,200}</string>
            </dict>
            <key>market_renjie_token.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,122},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
            <key>market_sale_timelimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,536},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>market_secret_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,144},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>market_serial_recruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>market_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,964},{178,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,42}}</string>
                <key>sourceSize</key>
                <string>{178,42}</string>
            </dict>
            <key>market_tiangang_token.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,940},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{148,70}</string>
            </dict>
            <key>market_topup_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,122},{210,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,34}}</string>
                <key>sourceSize</key>
                <string>{210,34}</string>
            </dict>
            <key>market_topup_word_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{120,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,34}}</string>
                <key>sourceSize</key>
                <string>{120,34}</string>
            </dict>
            <key>series_choose_card_back_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,346},{217,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,216}}</string>
                <key>sourceSize</key>
                <string>{217,216}</string>
            </dict>
            <key>special_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,38},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMarketAndSkill.png</string>
            <key>size</key>
            <string>{998,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae57cb8407bda3ff73225f612f35cfc8$</string>
            <key>textureFileName</key>
            <string>UIMarketAndSkill.png</string>
        </dict>
    </dict>
</plist>
