<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mine_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,422},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mine_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,422},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mine_plusplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,422},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mine_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,360}}</string>
                <key>sourceSize</key>
                <string>{600,360}</string>
            </dict>
            <key>mine_stone_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,364},{362,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,56}}</string>
                <key>sourceSize</key>
                <string>{362,56}</string>
            </dict>
            <key>pets_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,422},{252,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,32}}</string>
                <key>sourceSize</key>
                <string>{252,32}</string>
            </dict>
            <key>pets_exp_foreground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{230,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,10}}</string>
                <key>sourceSize</key>
                <string>{230,10}</string>
            </dict>
            <key>pets_skill_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,364},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>pets_skill_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,364},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>pets_skill_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMine.png</string>
            <key>size</key>
            <string>{604,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e963227532a195ef49d16be2214d19ea:1/1$</string>
            <key>textureFileName</key>
            <string>UIMine.png</string>
        </dict>
    </dict>
</plist>
