<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_fight_herolist.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,428},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>boss_paragraph_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{140,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>btn_have_awarded.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>dian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,318},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,286},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>dijie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{190,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,140}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>dijie_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,144},{190,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,140}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>elite_paragraph_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,376},{142,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,490},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>end_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,438},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>fight_btn_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,350},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>fight_ic_cishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,462},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fight_ic_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,428},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fight_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,438},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>fight_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,510},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>fight_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,470},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>renshengou.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,428},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shuijie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{190,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,140}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>shuijie_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,286},{158,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{158,140}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>story_item_bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,66},{118,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,66}}</string>
                <key>sourceSize</key>
                <string>{118,66}</string>
            </dict>
            <key>story_item_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,134},{118,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,64}}</string>
                <key>sourceSize</key>
                <string>{118,66}</string>
            </dict>
            <key>story_item_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,282},{116,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,80}}</string>
                <key>sourceSize</key>
                <string>{116,80}</string>
            </dict>
            <key>story_item_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,200},{116,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,80}}</string>
                <key>sourceSize</key>
                <string>{116,80}</string>
            </dict>
            <key>tianjie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,140}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>tianjie_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,140}}</string>
                <key>sourceSize</key>
                <string>{190,140}</string>
            </dict>
            <key>transparent_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,66},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIRunescape.png</string>
            <key>size</key>
            <string>{512,570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:216c5c428507ed945ab10c968bfe31f4$</string>
            <key>textureFileName</key>
            <string>UIRunescape.png</string>
        </dict>
    </dict>
</plist>
