<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cangjingge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,750},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>cangjingge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,538},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>cangjingge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,538},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>dongyuegong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,538},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>dongyuegong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,538},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>dongyuegong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>doulvgong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1074},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>doulvgong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>doulvgong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1124},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>leidiange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,538},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>leidiange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,326},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>leidiange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,326},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>lingxiaobaodian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>lingxiaobaodian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>lingxiaobaodian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>nantianmen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>nantianmen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>nantianmen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>rigong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1074},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rigong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,912},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rigong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,912},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>shenshouyuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>shenshouyuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>shenshouyuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>tianwangyuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,912},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tianwangyuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tianwangyuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,962},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tianzunmen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,912},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tianzunmen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,750},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tianzunmen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,750},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xingbu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,750},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xingbu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,750},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xingbu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xiyuegong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,326},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>xiyuegong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
            <key>xiyuegong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,326},{160,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,210}}</string>
                <key>sourceSize</key>
                <string>{160,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UISanJie_TianJie.png</string>
            <key>size</key>
            <string>{974,1398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c7a325a96236c26dcf0dfe801d65a29$</string>
            <key>textureFileName</key>
            <string>UISanJie_TianJie.png</string>
        </dict>
    </dict>
</plist>
