<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ic_strenthen_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,785},{230,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,143}}</string>
                <key>sourceSize</key>
                <string>{230,143}</string>
            </dict>
            <key>ic_strenthen_winfast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{489,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,148}}</string>
                <key>sourceSize</key>
                <string>{489,148}</string>
            </dict>
            <key>ic_strenthen_winfast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,602},{338,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,148}}</string>
                <key>sourceSize</key>
                <string>{338,148}</string>
            </dict>
            <key>ic_strenthen_winfast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,452},{338,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,148}}</string>
                <key>sourceSize</key>
                <string>{338,148}</string>
            </dict>
            <key>ic_strenthen_winfast_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,302},{338,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,148}}</string>
                <key>sourceSize</key>
                <string>{338,148}</string>
            </dict>
            <key>ic_strenthen_winfast_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,152},{338,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,148}}</string>
                <key>sourceSize</key>
                <string>{338,148}</string>
            </dict>
            <key>ic_strenthen_winfast_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{338,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,148}}</string>
                <key>sourceSize</key>
                <string>{338,148}</string>
            </dict>
            <key>market_dropdownlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,733},{104,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,50}</string>
            </dict>
            <key>skill_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{20,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,8}}</string>
                <key>sourceSize</key>
                <string>{20,8}</string>
            </dict>
            <key>skill_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{640,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,133}}</string>
                <key>sourceSize</key>
                <string>{640,133}</string>
            </dict>
            <key>skill_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,594}}</string>
                <key>sourceSize</key>
                <string>{640,594}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UISkillAndEquip.png</string>
            <key>size</key>
            <string>{1006,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea402064d29eacb50e4d539b5a22e9d$</string>
            <key>textureFileName</key>
            <string>UISkillAndEquip.png</string>
        </dict>
    </dict>
</plist>
