<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>awardWord.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,476},{128,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,22}}</string>
                <key>sourceSize</key>
                <string>{128,22}</string>
            </dict>
            <key>black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,222},{440,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,104}}</string>
                <key>sourceSize</key>
                <string>{440,104}</string>
            </dict>
            <key>red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,96},{260,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,122}}</string>
                <key>sourceSize</key>
                <string>{260,122}</string>
            </dict>
            <key>treasure_limittime_passaward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{160,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,82}}</string>
                <key>sourceSize</key>
                <string>{160,82}</string>
            </dict>
            <key>ue_zhongjian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{56,265}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,51},{56,265}}</string>
                <key>sourceSize</key>
                <string>{66,319}</string>
            </dict>
            <key>zhuxian_btn_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,328},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuxian_btn_question_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,328},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhuxian_caiquan_huosheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,242},{200,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,104}}</string>
                <key>sourceSize</key>
                <string>{200,104}</string>
            </dict>
            <key>zhuxian_caiquan_pingju.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,220},{200,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,108}</string>
            </dict>
            <key>zhuxian_caiquan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,92}}</string>
                <key>sourceSize</key>
                <string>{640,92}</string>
            </dict>
            <key>zhuxian_caiquan_xibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{200,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,104}}</string>
                <key>sourceSize</key>
                <string>{200,104}</string>
            </dict>
            <key>zhuxian_highlight_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,328},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>zhuxian_highlight_jiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,330},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>zhuxian_highlight_shitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,96},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>zhuxian_l_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{226,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,218}}</string>
                <key>sourceSize</key>
                <string>{226,218}</string>
            </dict>
            <key>zhuxian_l_jiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{226,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,218}}</string>
                <key>sourceSize</key>
                <string>{226,218}</string>
            </dict>
            <key>zhuxian_l_shitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{226,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,218}}</string>
                <key>sourceSize</key>
                <string>{226,218}</string>
            </dict>
            <key>zhuxian_qipan_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,348},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zhuxian_qipan_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,328},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>zhuxian_qipan_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,348},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIZhuxianzhen1.png</string>
            <key>size</key>
            <string>{1158,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:094966042d800ba07f5c25acd34935a2:1/1$</string>
            <key>textureFileName</key>
            <string>UIZhuxianzhen1.png</string>
        </dict>
    </dict>
</plist>
