<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_10037_story.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,398}}</string>
                <key>sourceSize</key>
                <string>{466,398}</string>
            </dict>
            <key>zhuxian_arrow_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{138,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,80}}</string>
                <key>sourceSize</key>
                <string>{138,80}</string>
            </dict>
            <key>zhuxian_bg_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{380,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,136}}</string>
                <key>sourceSize</key>
                <string>{380,136}</string>
            </dict>
            <key>zhuxian_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{336,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,102}}</string>
                <key>sourceSize</key>
                <string>{336,102}</string>
            </dict>
            <key>zhuxian_dialog_shengsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{340,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,104}}</string>
                <key>sourceSize</key>
                <string>{340,104}</string>
            </dict>
            <key>zhuxian_nomal_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>zhuxian_nomal_jiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,686},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>zhuxian_nomal_shitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,540},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>zhuxian_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{224,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,28}}</string>
                <key>sourceSize</key>
                <string>{224,28}</string>
            </dict>
            <key>zhuxian_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,402},{104,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,22}}</string>
                <key>sourceSize</key>
                <string>{104,22}</string>
            </dict>
            <key>zhuxian_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,832},{205,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,69}}</string>
                <key>sourceSize</key>
                <string>{205,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIZhuxianzhen.png</string>
            <key>size</key>
            <string>{490,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2cb9f9836d1977e362593e3f2947c2f$</string>
            <key>textureFileName</key>
            <string>UIZhuxianzhen.png</string>
        </dict>
    </dict>
</plist>
