<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<dict>
		<key>btnName</key>
		<string>首页</string>
		<key>normalFile</key>
		<string>tabbar_home_nor.png</string>
		<key>highLightedFile</key>
		<string>tabbar_home_pressed.png</string>
		<key>disabledfile</key>
		<string>tabbar_home_nor.png</string>
		<key>selectedFile</key>
		<string>tabbar_home_pressed.png</string>
	</dict>
	<key>card</key>
	<dict>
		<key>btnName</key>
		<string>背包</string>
		<key>normalFile</key>
		<string>tabbar_card_nor.png</string>
		<key>highLightedFile</key>
		<string>tabbar_card_pressed.png</string>
		<key>disabledfile</key>
		<string>tabbar_card_nor.png</string>
		<key>selectedFile</key>
		<string>tabbar_card_pressed.png</string>
	</dict>
	<key>runeScape</key>
	<dict>
		<key>btnName</key>
		<string>战斗</string>
		<key>normalFile</key>
		<string>tabbar_practice_nor.png</string>
		<key>highLightedFile</key>
		<string>tabbar_practice_pressed.png</string>
		<key>disabledfile</key>
		<string>tabbar_practice_nor.png</string>
		<key>selectedFile</key>
		<string>tabbar_practice_pressed.png</string>
	</dict>
	<key>learn</key>
	<dict>
		<key>btnName</key>
		<string>活动</string>
		<key>normalFile</key>
		<string>tabbar_union_nor.png</string>
		<key>highLightedFile</key>
		<string>tabbar_union_pressed.png</string>
		<key>disabledfile</key>
		<string>tabbar_union_nor.png</string>
		<key>selectedFile</key>
		<string>tabbar_union_pressed.png</string>
	</dict>
	<key>market</key>
	<dict>
		<key>btnName</key>
		<string>商店</string>
		<key>normalFile</key>
		<string>tabbar_shop_nor.png</string>
		<key>highLightedFile</key>
		<string>tabbar_shop_pressed.png</string>
		<key>disabledfile</key>
		<string>tabbar_shop_nor.png</string>
		<key>selectedFile</key>
		<string>tabbar_shop_pressed.png</string>
	</dict>
</dict>
</plist>
